.sidebar .row{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: brown; */
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.sidebar .row .title-box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}

.sidebar .row .title{
  font-size: 16px;
  /* background-color: aqua; */
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  display: none;
}

.sidebar .row .list-box{
  margin: 5px;
  display: none;
}


.sidebar .row .list-box div{
  padding: 5px 0px;
  /* background-color: white; */
}