:root{
  --title-fg:rgb(230, 163, 80);
  --frame-h:300px;
}

/* CONTAINER OVERRIDE */

.container{
  overflow-y: hidden;
}

/* CONTAINER OVERRIDE */

/* SIDEBAR */

.sidebar{
  display: flex;
  flex-direction: column;
  /* background-color: rgb(127, 255, 127); */
  /* box-sizing: border-box; */
  align-items: center;
  z-index: 10;
  height: 100%;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar .icon-box{
  display: flex;
  flex-direction: row;
  /* background-color: brown; */
  /* box-sizing: border-box; */
  position: relative;
  align-items: center;
}

.sidebar .icon-box .icon{
  padding: 10px;
}

.sidebar .icon-box:hover{
  background-color: rgb(241, 241, 241);
}

.sidebar .icon-box h3{
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(89, 89, 89);
  border-radius: 15px;
  padding: 3px 8px;
  box-shadow: 0px 1px 5px #2b2b2b6e;
  left: 55px;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.sidebar .icon-box .icon:hover + h3{
  opacity:1;
}

/* SIDEBAR */

/* CARD */

.proj-card{
  margin: 10px 10px 0px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(212, 212, 212);
  min-height: 150px;
}

.proj-card > .frame{
  min-height: var(--frame-h);
}

.proj-card img{
  min-width: 50px;
  min-height: 25px;
  max-width: 500px;
  max-height: var(--frame-h);
  width: auto;
  height: auto;
  float:left;
  margin-right: 5px;
}

.proj-title{
  color: var( --title-fg);
  padding: 5px 0px;
}

.proj-desc{
  flex-grow: 1;
  text-align: justify;
  margin-top: 5px;
  font-size: 16px;
  color: rgb(94, 94, 94);
}

.proj-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.links-box{
  display: flex;
  flex-direction: row;
}

.links-box .icon{
  width: 20px;
  height:20px;
  margin-left: 5px;
}

/* CARD */

/* GALLERY */

.gallery{
  z-index: 0;
  flex-grow: 1;
  background-color: white;
  overflow-y: auto;
  height: 100%;
}

/* GALLERY */

/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 600px)
{
  .proj-card img{
    width: 100%;
    float: none;
  }
}

@media screen and (min-width: 600px)
{
  :root{
    /* --frame-h:167px; */
    --frame-h:120px;
  }
}

/* RESPONSIVE MEDIA QUERIES */

/* 

Extra small devices (phones, 600px and down)
Small devices (portrait tablets and large phones, 600px and up)
Medium devices (landscape tablets, 768px and up)
Large devices (laptops/desktops, 992px and up)
Extra large devices (large laptops and desktops, 1200px and up)
*/