.icon{
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain ;
  cursor: pointer;
  background-origin: content-box;
}

.icon-options{
  background-image: url("options.svg");
  /* border-radius: 20px; */
}

.icon-menu{
  background-image: url("menu.svg");
  width: 30px;
  height: 30px;
}
.icon-python{
  background-image: url("python.svg");
}

.icon-android{
  background-image: url("android.svg");
}

.icon-machine{
  background-image: url("machine.svg");
}

.icon-django{
  background-image: url("django.svg");
}

.icon-arduino{
  background-image: url("arduino.svg");
}

.icon-github{
  background-image: url("github.svg");
}

.icon-website{
  background-image: url("website.svg");
}


/* MEDIA QUERIES */

@media screen and (max-width:400px){
  .icon{
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width:400px){
  .icon{
    width: 40px;
    height: 40px;
  }
}
