:root {
  --card-fg: white;
  --card-head-bg: rgb(32, 32, 32, 0.95);
  --card-foot-bg: rgb(32, 32, 32, 0.8);
  --tooltip-link-fg:white;
  --tooltip-link-bg:rgb(50, 50, 50);
}

.work-card {
  background-size: cover;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  /* height: 240px; */
  /* height: 280px; */
  background-color: rgb(71, 71, 71);
  /* padding: 10px; */
  color: var(--card-fg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*   C A R D   H E A D   */

.work-card-head {
  padding: 10px 10px;
  font-size: var(--card-title-txt-size);
  background-color: var(--card-head-bg);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font-weight: 500;
  text-align: center;
}

/*   C A R D   H E A D   */

/*   C A R D   B O D Y   */

.work-card-body {
  font-size: var(--card-body-txt-size);
  cursor: pointer;
  overflow-y: auto;
  flex-grow: 1;
  line-height: 1.5em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-decoration: none;
}

.work-card-body p {
  letter-spacing: 1px;
  color: white;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
  padding: 10px 20px 20px 20px;
  min-height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  text-shadow: 1px 1px 2px black;
}

.work-card:hover .work-card-body p {
  opacity: 1;
}

/*   C A R D   B O D Y   */

/*   C A R D   F O O T   */

.work-card-foot {
  padding: 7px 10px;
  font-size: var(--card-foot-txt-size);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: var(--card-foot-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Group */
.work-card-foot > .group-box{
  display: flex;
  flex-direction: row;
}

.work-card-foot .group {
  padding: 4px 6px;
  border-radius: 5px;
  font-weight: 800;
  letter-spacing: 1px;
}

/* Links */

.work-card-foot > .group-box > span{
  display: inline-block;
  line-height: 95%;
  margin-right: 10px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.work-card-foot > .links-box a {
  position: relative;
  margin-left: 3px;
}

.work-card-foot > .links-box > .disabled.icon{
  filter: brightness(50%);
}

.work-card-foot > .links-box > a > span{
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  color: var(--tooltip-link-fg);
  font-size: 14px;
  font-style: normal;
  background-color: var(--tooltip-link-bg);
  padding: 6px 10px;
  border-radius: 5px;
  white-space:nowrap;
  opacity: 0;
  box-shadow: 2px 2px 2px rgba(40, 40, 40, 0.7);
  transition: opacity 200ms ease-in-out ;
}

.work-card-foot > .links-box > a > span::before{
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 5px;
  border-color: var(--tooltip-link-bg) transparent transparent transparent;
}

.work-card-foot > .links-box > a:hover span{
  opacity: 1;
}

/*   C A R D   F O O T   */

/*   C O L O R S   */

.group-python {
  background-color: rgb(51, 143, 112);
}

.group-django {
  background-color: rgb(189, 40, 2);
}

.group-android {
  background-color: rgb(52, 142, 211);
}

.group-ml {
  background-color: rgb(196, 114, 41);
}

.group-arduino {
  background-color: rgb(52, 211, 113);
}

.group-java {
  background-color: rgb(200, 125, 45);
}

.group-cpp {
  background-color: rgb(45, 184, 200);
}

/*   S C R O L L S   */

.work-card-body::-webkit-scrollbar{
  width: 15px;
}

.work-card-body::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 10px;
  border: 3px solid rgb(54, 54, 54);
}

.work-card-body::-webkit-scrollbar-track{
  background-color: rgb(54, 54, 54);
}

/*   M E D I A   Q U E R I E S   */

@media screen and (min-width: 950px) {
  :root {
    --card-title-txt-size: 20px;
    --card-body-txt-size: 20px;
    --card-foot-txt-size: 15px;
  }
  .work-card {
    height: 260px;
  }
}

@media screen and (min-width: 800px) and (max-width: 950px) {
  :root {
    --card-title-txt-size: 20px;
    --card-body-txt-size: 18px;
    --card-foot-txt-size: 14px;
  }
  .work-card {
    height: 240px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --card-title-txt-size: 16px;
    --card-body-txt-size: 18px;
    --card-foot-txt-size: 14px;
  }
  .work-card{
    height: 250px;
  }
}