.works-group-box {
  display: flex;
  padding: 15 px 0px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  margin:10px auto 10px auto;
  /* height: 70px; */
}

.works-group-box > i {
  padding: 7px;
  box-sizing: content-box;
  border: 2px solid transparent;
  transition: transform 200ms ease-in-out, filter 200ms ease-in-out;
}

.works-group-box > i:hover {
  filter: brightness(120%);
  transform: scale(1.1);
}


.group-selected {
  border-radius: 20px;
  border: 2px solid #FFB356 !important;
  filter: brightness(120%);
}
